@charset "utf-8";

body {
  margin: 0 auto;
}

header {
  margin: 80px auto;
  text-align: center;
  background-color: #ccc;
}

.col {
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.yellow {
background: radial-gradient(#ffc,#ff0);
}

.pink {
  background-color: radial-gradient(#fcf,#f6c);
}
  
.green {
  background-color: radial-gradient(#3f0,#0c0);
}

.lightgreen {
  background-color: radial-gradient(#cf9,#9f0);
}

.orange {
background: radial-gradient(#fc9,#f90);
}

footer {
  text-align: center;
  background-color: #ccc;
  padding: 30px;
  margin-top:30px;
}
