@charset "utf-8";

body {
  margin: 0 auto;
}

header {
  margin: 80px auto;
  text-align: center;
  background-color: gray;
}

.col {
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.yellow {
background: radical-gradient(#ffc,#ff0)
}

.orange {
background-color: orange;
}
